<div id="main_body">

<h1>Customer Info</h1>

<p>
  <b>名称:</b>
  <%= @customer.name %>
</p>
<p>
  <b>简称:</b>
  <%= @customer.short_name %>
</p>
<p>
  <b>联系信息:</b>
  <ul>
  <% @customer.contacts.order("created_at DESC").each do |c| %>
   <li><%= (c.created_at + 8.hours).strftime("%Y/%m/%d")%>&nbsp;<%= c.name %>&nbsp;<%=c.position if c.position.present? %>&nbsp;<%=c.cell_phone if c.cell_phone.present? %>&nbsp;
   	        <%=c.phone if c.phone.present? %>&nbsp;<%=c.email if c.email.present? %>&nbsp; <%=c.brief_note if c.brief_note.present? %></li>
  <% end %>
  </ul>
</p>
<p>
  <b>电话:</b>
  <%= @customer.phone %>
</p>
<p>
  <b>传真:</b>
  <%= @customer.fax %>
</p>
<p>
  <b>地址:</b>
  <%= @customer.address.province %><%= @customer.address.city_county_district%>,<%=@customer.address.add_line%>
</p>
<p>
  <b>Shipping Instruction:</b>
  <%= @customer.shipping_instruction %>
</p>
<p>
  <b>Zone:</b>
  <%= @customer.zone.zone_name %>
</p>
<p>
  <b>业务状态分类:</b>
  <%= @customer.customer_status_category.cate_name %>
</p>
<p>
  <b>主营业务:</b>
  <%= @customer.main_biz %>
</p>
<p>
  <b>质量认证:</b>
  <%= @customer.quality_system.name if @customer.quality_system_id.present? %>
</p>
<p>
  <b>营业额:</b>
  <%= @customer.revenue %>
</p>
<p>
  <b>员工人数:</b>
  <%= @customer.employee_num %>
</p>
<p>
  <b>CustomerTaste:</b>
  <%= @customer.customer_taste %>
</p>
<p>
  <b>CustomerEval:</b>
  <%= @customer.customer_eval %>
</p>
<p>
  <b>注释:</b>
  <%= @customer.note %>
</p>
<p>
  <b>输入/更改:</b>
  <%= @customer.last_updated_by.name %>
</p>

  <%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0", :id => 'close' %>

</div>
